VK_BOT_TOKEN=vk1.a.L2yJlZdhHFcsD-fXO4ZnwcWH1JdpdzV3XfW5HLsVPJAowB1YPxIEc7D9RvXtt6vgaVKX6RCrDeJQV_UWeF-MUPV9Vm9ddLZ9p6eLDaropDymSwy0zrhXwJ2rnOZZIN6N2JWfgtPiUn6HBGkaaZ-0tRnkO6mPLmRW3ktn0HZbaQlsF8MlHnmAwbSKTbDpj4tD9LJ8kGnwSNH7s6lQRthyjA
VK_GROUP_ID=237665030
